body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    height: 100%;
}
.button.is-success {
    background-color: #2EB398;
}

.aside {
    background-color: #232B2D;
}
.aside .uploader {
    background-color: #2EB398;
    height: 95px;
    margin:0 -10px;
    padding: 25px 30px;
}
.aside .uploader .button {
    background-color: transparent;
    border: 3px dashed #F6F7F7;
    padding: 20px 70px;
    color: #F6F7F7;
}
.aside .main {
    color: #6F7B7E;
}
.aside .title {
    color: #6F7B7E;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.aside .main .item {
    display: block;
    padding: 10px 0;
    color: #6F7B7E;
}
.aside .main .item.active {
    color: #F6F7F7;
}
.aside .main .icon {
    font-size: 19px;
    padding-right: 40px;
}
.aside .main .name {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.aside .main .item:hover {
    color: #F6F7F7;
}

.content {
    display: block;
    background-color: #fff;
    padding: 40px 20px;
}
.nav.menu {
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    z-index: 1;
}
.nav.menu .nav-item .icon-btn {
    border: 3px solid #B7C6C9;
    border-radius: 90px;
    padding: 5px 7px;
    color: #B7C6C9;
}
.nav.menu .nav-item .icon-btn.thin {
    padding: 5px 8px;
}
.nav.menu .nav-item.is-active .icon-btn {
    color: #2EB398;
    border: 3px solid #2EB398;
}
.nav.menu .nav-item .icon-btn .fa {
    font-size: 20px;
    color: #B7C6C9;
}
.nav.menu .nav-item.is-active .icon-btn .fa {
    color: #2EB398;
}
.admin-footer {
    padding: 12px;
}

aside {
    padding-bottom: 40px;
}