.nav-item {
    font-weight: 700;
    text-transform: capitalize;
}

.brand {
    font-family: "Lato", sans-serif !important;
}

.button.shadow:hover, img.shadow:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08) !important;
}

.shadow {
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08) !important;
}

.text-title {
    font-size: 3.5rem !important;
    font-family: 'News Cycle', sans-serif;
    font-weight: 700 !important;
}

@media all and (max-width: 576px) {
    .text-title {
        font-size: 2rem !important;
    }
}

.thin {
    font-weight: 300 !important;
}

.custom-footer {
    max-height: 180px;
    background: transparent !important;
}

@media all and (max-width: 576px){
    .custom-footer {
        max-height: 400px;
    }
}

.navbar-gradient {
    height: 6px;
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.is-circled img {
    border-radius: 50%;
}